#containerShadow
{
    width: 100vw;
    height: 100vh;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerDiv
{
    border: 6px solid black;
    border-radius: 3px;
    
    
    width: 240px;
    height: 500px; 
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttondiv
{
    width: 100vw;
    background-color: aquamarine;
}

#containerok
{
    margin-top: auto;
}

#buttonok
{
    width: 50px;   
}